/* THE OTW CORE CHASSIS */
:root {
    /* THE TRINITY */
    --brand-blue: #6395EE;
    --brand-light-blue: #A0BEF5;
    --brand-teal: #91AFB3;

    /* THE UNIVERSAL VOID */
    --bg-dark: #050505;
    --border-low: rgba(255, 255, 255, 0.08);

    /* SHARED TYPOGRAPHY */
    --font-main: 'Inter', sans-serif;
    --font-code: 'Fira Code', monospace;
}