body						{ font-family: Tahoma, Verdana, Arial, Helvetica; color:#333333; font-size: 13px; }

.bodytext					{ font-family: Tahoma, Verdana, Arial, Helvetica; color:#333333; font-size: 13px; }

td							{ font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 13px; color:#333333;}

th							{ font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 13px; color: #FFFFFF; background-color: #000066; font-weight: bold; }

p							{ font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 13px; color:#333333;}

li         					{ font-family: Tahoma, Verdana, Arial, Helvetica; color:#333333;  }

input						{ font-family: Arial,Helvetica; font-size: 12px; }

textarea					{ font-family: Arial,Helvetica; font-size: 11px; }

a							{color: #003366;}

a:hover    					{color: #FF9900; }

a:visited					{color: #003366; }

a:visited:hover				{color: #FF9900; }

h1           				{ color: #FF9900; font-family: Trebuchet MS, Arial; font-size: 18px; font-weight:bold; }

h2							{ color: #42AD29; font-family: Trebuchet MS, Arial; font-size: 16px; font-weight:bold; text-decoration:none }

h3        					{ color: #003366; font-family: 'Trebuchet MS', Arial; font-size: 12px; font-weight: bold; }

.indexMenu					{ font-size: 13px; text-decoration: none; font-family: Verdana, Arial, Helvetica; color:#FFFFFF; }
.indexMenu a:visited, .indexMenu a:link 	{ text-decoration: none; color:#FFFFFF; }
.indexMenu a:hover			 	{ color:#C6E3FF; }

.submenu					{ font-family: Trebuchet MS, Arial, Helvetica; color: #FFFFFF; font-size:10px; text-decoration: none; font-weight: bold}

.submenu:visited			{ color: #FFFFFF; }

.submenu:hover				{ color: #FFFFFF; text-decoration: underline; }

.subheading					{ color: #003366; font-size: 13px; font-weight:bold; }

.footer						{ font-size: 10px; }

.bold						{ font-weight: bold; }

.small						{ font-size: 10px; }

.blue						{ color: #0099CC; }

.ltblue						{ color: #B2E5FF; }

.error						{ color: #0099CC; font-weight:bold;}

.asterisk					{ color: #0099CC; font-weight:bold; color: #42AD29; font-size:18px; }

.tree						{ font-size: 11px; text-decoration: none;  }

.thumbnailmenu				{ color: #FF9900; font-family: 'Trebuchet MS', Arial; font-size: 14px; font-weight: bold; text-decoration: none; }

.thumbnailmenu:visited		{ color: #FF9900; font-family: 'Trebuchet MS', Arial; font-size: 14px; font-weight: bold; text-decoration: none; }

.listingindex				{ text-decoration: none; font-size:14px; font-weight: bold; }

.listingindexsmall			{ text-decoration: none; font-size:12px; font-weight: bold; }

.listingheading				{ text-decoration: none; font-size:17px; font-weight: bold; color: #FF9900; }

.calendar 					{ font-size: 11px; }

.headlines					{ color: white; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; text-decoration: none; font-weight: bold;}

.headlines:visited			{ color: white; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; text-decoration: none; font-weight: bold;}

.headlines:hover 			{ color: #FF9900; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; text-decoration: none; font-weight: bold;}

.headlines:visited:hover	{ color: #FF9900; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; text-decoration: none; font-weight: bold;}

.forum_title				{font-family: Tahoma,Verdana, Arial, Helvetica; font-size: 16px;}

.forum						{ font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 14px; }

.nav						{font-family: MS Sans Serif,Geneva,sans-serif;font-size: 8pt;}

.lodge						{font-family: Arial, Helvetica;font-size: 14pt; color: #663366; }

.OTFORM-TABLEROW			{ font-family: Tahoma, Verdana, Arial, Helvetica; color:#333333; font-size: 13px; }

.OTFORM-ERRORMESSAGE		{ color: #0099CC; font-weight:bold;}